<nav class="navbar navbar-default navbar-fixed-top" style="background-color: white">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand nav-logo" rel="home" href="#" title="Buy Sell Rent Everyting"></a>
            <ul class="nav navbar-nav">
                <li class="">
                    <a class="jam" href="/">Jam</a>
                </li>

            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                <li>
                    <p class="navbar-text">
                        <%=current_user.name %>
                    </p>
                </li>
                <li>
                    <p class="navbar-button">
                        <%= button_to "Logout", logout_path, method: :delete, class: "button1id", class: "btn btn-success btn-sm" %>
                    </p>
                </li>

            <% else %>
                <li>
                    <p class="navbar-text">
                        <%= link_to "Login with Spotify", spotify_login_path %>
                    </p>
                </li>
                <% end %>
            </div>
        </div>
    </nav>
    <!-- <div class="jumbotron-artist">
<div class="container"></div>
</div> -->
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%=image_tag(current_user.image, size: '200x200', class: 'user-image') %>
            </h4>
        </div>
        <div class="col-md-6">
                <h3><%=current_user.name %><h3>
                <%= button_to "Open Spotify", current_user.account, method: :get, class: "", class: "btn btn-success btn-sm" %>
                <br>
                <h5>Nickname: <%= current_user.nickname %> | Followers: <%= current_user.followers %> | Email: <%= current_user.email %> </h5>
                <h5> <%= link_to "Top Artists" %> | Followers: <%= current_user.followers %> | Email: <%= current_user.email %> </h5>

    </div>
</div>
</div>

<br>

<br>
<div class="container">
<center>
    <h2 class="featured">
        <span>You Favorite Genres</span>
    </h2>
</center>
</div>
<br>
<div class="container">
<div class="row">
    <% @top_artists.each do |artist| %>
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <center>
                    <h4 class="card-title">
                        <%=artist.genres.first %>
                    </h4>
                </center>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <% end %>
</div>
</div>
<div class="container">
<center>
    <h2 class="featured">
        <span>20 Most Played Artists</span>
    </h2>
</center>
</div>

<div class="container">
  <div class="row">
    <% @top_artists.each do |artist| %>
    <div class="col-md-3">
      <div class="card">
        <%= link_to image_tag(artist.images.second[:url], size: "240x200", class: "", class: "card-img-top"), ("#{concerts_path}""?name=#{artist.name}") %>
        <div class="card-block">
          <h4 class="card-title">
            <%= artist.name %>
          </h4>
          <p class="card-text">Concerts this year:
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<iframe src="https://embed.spotify.com/?uri=spotify:album:63GBbuUNBel2ovJjUrfh5r" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
