<%= render partial: "shared/navbar2" %>

<div class="jumbotron-artist">
    <div class="container"></div>
</div>
<br>
<br>
<br>

<% if current_user.image.nil? %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <%=image_tag('cd.jpg', size: '200x200', class: 'user-image') %>
        </h4>
    </div>
<% else %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%=image_tag(current_user.image, size: '200x200', class: 'user-image') %>
            </h4>
        </div>
        <% end %>

        <div class="col-md-6">
            <h3><%=current_user.name %>
                <h3>
                    <%= button_to "Open Spotify", current_user.account, method: :get, class: "", class: "btn btn-success btn-sm" %>
                    <br>
                    <h5>Nickname:
                        <%= current_user.nickname %>
                        | Followers:
                        <%= current_user.followers %>
                        | Email:
                        <%= current_user.email %>
                    </h5>
                    <h5>Your Top 3 Genres:
                      <% @top_artists.sample(3).each do |artist| %>
                      <%= artist.genres.first %> |
                      <% end %>
                    </h5>
                    <h5>
                        <%= link_to "Your Top Artists Concerts", top_artists_path %>
                        |
                        <%= link_to "Your Top Tracks", top_tracks_path %>
                        |
                        <%= link_to "Search for a concert", search_path %>
                    </h5>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <div class="container">
                <center>
                    <h2 class="featured">
                        <span>Your Top Albums</span>
                    </h2>
                </center>
            </div>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <% @top_albums.each do |track| %>
                    <div class="col-md-4">
                        <center>
                            <iframe src="https://embed.spotify.com/?uri=<%= track.uri %>&view=coverart&theme=white" width="270" height="380" frameborder="0" allowtransparency="true"></iframe>
                        </center>
                    </div>
                    <% end %>
                </div>
            </div>
          </div>
        </div>
            <br>
