<%= render partial: "shared/navbar2" %>

    <br> <br>
    <% if @concerts == [] %>
          <div class="container-fluid">
            <table class="table table-striped custab">
                <thead>
                  <center><h2 class="featured"><span>Concert Recommendations</span></h2></center>
                  <br>
                    <tr>
                        <th>Date</th>
                        <th>Artist</th>
                        <th>Venue</th>
                        <th>City</th>
                        <th>Send Email</th>
                        <th><center>Ticket Link</center>/th>
                      </tr>
                </thead>
                <% @concertrecommendation.each do |artist| %>
                <tr>
                    <td>
                        <div class="text-center date-body">
                            <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                            <div class="date-content">
                                <p class="dia"><%= artist.day_number %></p>
                                <hr class="nomargin"/>
                                <p class="nomargin">
                                    <strong><%= artist.month %></strong>
                                </p>
                                <p class="nomargin">
                                    <strong><%= artist.time%></strong>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td><%= artist.name %></td>
                    <td><%= artist.format_venue %></td>
                    <td><%= artist.city %></td>
                    <td><A HREF="#codeword"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></A></span> </td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                            <span class="glyphicon glyphicon-edit"></span>
                            Ticket Link</a>
                    </td>
                    <td> <%= image_tag(artist.image, size: '85x85') %> </td>
                </tr>
                <% end %>
            </table>
          </div>

          <div class="container-fluid">
            <table class="table table-striped custab">
                <thead>
                  <center><h2 class="featured"><span>All <%= @artist.first.name %> Concerts</span></h2></center>
                  <br>
                    <tr>
                        <th>Date</th>
                        <th>Artist</th>
                        <th>Venue</th>
                        <th>City</th>
                        <th>Send Email</th>
                        <th>Ticket Link</th>
                      </tr>
                </thead>
                <% @all_concerts.each do |artist| %>
                <tr>
                    <td>
                        <div class="text-center date-body">
                            <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                            <div class="date-content">
                                <p class="dia"><%= artist.day_number %></p>
                                <hr class="nomargin"/>
                                <p class="nomargin">
                                    <strong><%= artist.month %></strong>
                                </p>
                                <p class="nomargin">
                                    <strong><%= artist.time%></strong>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td><%= artist.name %></td>
                    <td><%= artist.format_venue %></td>
                    <td><%= artist.city %></td>
                    <td><A HREF="#codeword"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></A></span> </td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                            <span class="glyphicon glyphicon-edit"></span>
                            Ticket Link</a>
                    </td>
                    <td> <%= image_tag(artist.image, size: '85x85') %> </td>
                </tr>
                <% end %>
            </table>
          </div>
<% else %>
<div class="container-fluid">
  <table class="table table-striped custab">
      <thead>
        <center><h2 class="featured"><span>Concerts in your Area</span></h2></center>
        <br>
          <tr>
              <th>Date</th>
              <th>Artist</th>
              <th>Venue</th>
              <th>City</th>
              <th>Send Email</th>
              <th>Ticket Link</th>
            </tr>
      </thead>
      <% @concerts.each do |artist| %>
      <tr>
          <td>
              <div class="text-center date-body">
                  <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                  <div class="date-content">
                      <p class="dia"><%= artist.day_number %></p>
                      <hr class="nomargin"/>
                      <p class="nomargin">
                          <strong><%= artist.month %></strong>
                      </p>
                      <p class="nomargin">
                          <strong><%= artist.time%></strong>
                      </p>
                  </div>
              </div>
          </td>
          <td><%= artist.name %></td>
          <td><%= artist.format_venue %></td>
          <td><%= artist.city %></td>
          <td><A HREF="#codeword"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></A></span> </td>
          <td class="text-center">
              <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                  <span class="glyphicon glyphicon-edit"></span>
                  Ticket Link</a>
          </td>
          <td> <%= image_tag(artist.image, size: '85x85') %> </td>
      </tr>
      <% end %>
  </table>
</div>

<div class="container-fluid">
  <table class="table table-striped custab">
      <thead>
        <center><h2 class="featured"><span>Concert Recommendations</span></h2></center>
        <br>
          <tr>
              <th>Date</th>
              <th>Artist</th>
              <th>Venue</th>
              <th>City</th>
              <th>Send Email</th>
              <th>Ticket Link</th>
            </tr>
      </thead>
      <% @concertrecommendation.each do |artist| %>
      <tr>
          <td>
              <div class="text-center date-body">
                  <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                  <div class="date-content">
                      <p class="dia"><%= artist.day_number %></p>
                      <hr class="nomargin"/>
                      <p class="nomargin">
                          <strong><%= artist.month %></strong>
                      </p>
                      <p class="nomargin">
                          <strong><%= artist.time%></strong>
                      </p>
                  </div>
              </div>
          </td>
          <td><%= artist.name %></td>
          <td><%= artist.format_venue %></td>
          <td><%= artist.city %></td>
          <td><A HREF="#codeword"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></A></span> </td>
          <td class="text-center">
              <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                  <span class="glyphicon glyphicon-edit"></span>
                  Ticket Link</a>
          </td>
          <td> <%= image_tag(artist.image, size: '85x85') %> </td>
      </tr>
      <% end %>
  </table>
</div>

<div class="container-fluid">
  <table class="table table-striped custab">
      <thead>
        <center><h2 class="featured"><span>All <%= @artist.first.name %> Concerts</span></h2></center>
        <br>
          <tr>
              <th>Date</th>
              <th>Artist</th>
              <th>Venue</th>
              <th>City</th>
              <th>Send Email</th>
              <th>Ticket Link</th>
            </tr>
      </thead>
      <% @all_concerts.each do |artist| %>
      <tr>
          <td>
              <div class="text-center date-body">
                  <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                  <div class="date-content">
                      <p class="dia"><%= artist.day_number %></p>
                      <hr class="nomargin"/>
                      <p class="nomargin">
                          <strong><%= artist.month %></strong>
                      </p>
                      <p class="nomargin">
                          <strong><%= artist.time%></strong>
                      </p>
                  </div>
              </div>
          </td>
          <td><%= artist.name %></td>
          <td><%= artist.format_venue %></td>
          <td><%= artist.city %></td>
          <td><A HREF="#codeword"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></A></span> </td>
          <td class="text-center">
              <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                  <span class="glyphicon glyphicon-edit"></span>
                  Ticket Link</a>
          </td>
          <td> <%= image_tag(artist.image, size: '85x85') %> </td>
      </tr>
      <% end %>
  </table>
</div>
<% end %>
<A NAME="codeword"></a>
<br>
<hr>
<center>
    <form accept-charset="UTF-8" action="/sent" class="new_user" id="new_user" method="get">
      <h3 style="margin-bottom: 25px; text-align: center;">Send You and Your Friends a Reminder</h3>
        <div class="form-group">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Message" maxlength="140" rows="7" required></textarea>
        </div>
        <input class="btn btn-default" name="commit" type="submit" value="Send Email">
    </form>
</center>
<br>
<br>

<hr>
<h3 style="margin-bottom: 25px; text-align: center;">All <%= params[:name]  %> Concerts</h3>

 <center><div id="map_canvas"  style="height:400px; width:1100px;"></div><center>
<br>
 <script type="text/javascript">
 jQuery(function($) {
    // Asynchronously Load the map API
    var script = document.createElement('script');
    script.src = "//maps.googleapis.com/maps/api/js?key=AIzaSyAf1noCsQpvvOCOccefy1-AfSyU2y0_JnU&sensor=false&callback=initialize";
    document.body.appendChild(script);
});

function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };

    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.setTilt(45);

    // Multiple Markers
    var markers = [];
  <% @all_concerts.each do |concert| %>
   markers.push(["NYC",  <%= concert.venue_location[:latitude] %>, <%= concert.venue_location[:longitude] %>]);
  <% end %>

    // Info Window Content
    var infoWindowContent = []
    <% @all_concerts.each do |concert| %>
    infoWindowContent.push(['<div class="info_content">' + '<h3> <%= concert.title %>  </h3>' + '</div>']);
    <% end %>


    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;

    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });

        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(2);
        google.maps.event.removeListener(boundsListener);
    });

}

 </script>
