<%= render partial: "shared/navbar2" %>

    <br> <br>
    <% if @concerts == [] %>
          <div class="container-fluid">
            <table class="table table-striped custab">
                <thead>
                  <center><h2 class="featured"><span>Concert Recommendations</span></h2></center>
                  <br>
                    <tr>
                        <th>Date</th>
                        <th>Artist</th>
                        <th>Venue</th>
                        <th>City</th>
                        <th>Send Email</th>
                        <th>Ticket Link</th>
                      </tr>
                </thead>
                <% @concertrecommendation.each do |artist| %>
                <tr>
                    <td>
                        <div class="text-center date-body">
                            <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                            <div class="date-content">
                                <p class="dia"><%= artist.day_number %></p>
                                <hr class="nomargin"/>
                                <p class="nomargin">
                                    <strong><%= artist.month %></strong>
                                </p>
                                <p class="nomargin">
                                    <strong><%= artist.time%></strong>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td><%= artist.name %></td>
                    <td><%= artist.format_venue %></td>
                    <td><%= artist.city %></td>
                    <td><A HREF="#codeword"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></A></span> </td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                            <span class="glyphicon glyphicon-edit"></span>
                            Ticket Link</a>
                    </td>
                    <td> <%= image_tag(artist.image, size: '85x85') %> </td>
                </tr>
                <% end %>
            </table>
          </div>

          <div class="container-fluid">
            <table class="table table-striped custab">
                <thead>
                  <center><h2 class="featured"><span>All <%= @artist.first.name %> Concerts</span></h2></center>
                  <br>
                    <tr>
                        <th>Date</th>
                        <th>Artist</th>
                        <th>Venue</th>
                        <th>City</th>
                        <th>Send Email</th>
                        <th>Ticket Link</th>
                      </tr>
                </thead>
                <% @all_concerts.each do |artist| %>
                <tr>
                    <td>
                        <div class="text-center date-body">
                            <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                            <div class="date-content">
                                <p class="dia"><%= artist.day_number %></p>
                                <hr class="nomargin"/>
                                <p class="nomargin">
                                    <strong><%= artist.month %></strong>
                                </p>
                                <p class="nomargin">
                                    <strong><%= artist.time%></strong>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td><%= artist.name %></td>
                    <td><%= artist.format_venue %></td>
                    <td><%= artist.city %></td>
                    <td><A HREF="#codeword"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></A></span> </td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                            <span class="glyphicon glyphicon-edit"></span>
                            Ticket Link</a>
                    </td>
                    <td> <%= image_tag(artist.image, size: '85x85') %> </td>
                </tr>
                <% end %>
            </table>
          </div>
<% else %>
<div class="container-fluid">
  <table class="table table-striped custab">
      <thead>
        <center><h2 class="featured"><span>Concerts in your Area</span></h2></center>
        <br>
          <tr>
              <th>Date</th>
              <th>Artist</th>
              <th>Venue</th>
              <th>City</th>
              <th>Send Email</th>
              <th>Ticket Link</th>
            </tr>
      </thead>
      <% @concerts.each do |artist| %>
      <tr>
          <td>
              <div class="text-center date-body">
                  <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                  <div class="date-content">
                      <p class="dia"><%= artist.day_number %></p>
                      <hr class="nomargin"/>
                      <p class="nomargin">
                          <strong><%= artist.month %></strong>
                      </p>
                      <p class="nomargin">
                          <strong><%= artist.time%></strong>
                      </p>
                  </div>
              </div>
          </td>
          <td><%= artist.name %></td>
          <td><%= artist.format_venue %></td>
          <td><%= artist.city %></td>
          <td><A HREF="#codeword"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></A></span> </td>
          <td class="text-center">
              <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                  <span class="glyphicon glyphicon-edit"></span>
                  Ticket Link</a>
          </td>
          <td> <%= image_tag(artist.image, size: '85x85') %> </td>
      </tr>
      <% end %>
  </table>
</div>

<div class="container-fluid">
  <table class="table table-striped custab">
      <thead>
        <center><h2 class="featured"><span>Concert Recommendations</span></h2></center>
        <br>
          <tr>
              <th>Date</th>
              <th>Artist</th>
              <th>Venue</th>
              <th>City</th>
              <th>Send Email</th>
              <th>Ticket Link</th>
            </tr>
      </thead>
      <% @concertrecommendation.each do |artist| %>
      <tr>
          <td>
              <div class="text-center date-body">
                  <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                  <div class="date-content">
                      <p class="dia"><%= artist.day_number %></p>
                      <hr class="nomargin"/>
                      <p class="nomargin">
                          <strong><%= artist.month %></strong>
                      </p>
                      <p class="nomargin">
                          <strong><%= artist.time%></strong>
                      </p>
                  </div>
              </div>
          </td>
          <td><%= artist.name %></td>
          <td><%= artist.format_venue %></td>
          <td><%= artist.city %></td>
          <td><A HREF="#codeword"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></A></span> </td>
          <td class="text-center">
              <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                  <span class="glyphicon glyphicon-edit"></span>
                  Ticket Link</a>
          </td>
          <td> <%= image_tag(artist.image, size: '85x85') %> </td>
      </tr>
      <% end %>
  </table>
</div>

<div class="container-fluid">
  <table class="table table-striped custab">
      <thead>
        <center><h2 class="featured"><span>All <%= @artist.first.name %> Concerts</span></h2></center>
        <br>
          <tr>
              <th>Date</th>
              <th>Artist</th>
              <th>Venue</th>
              <th>City</th>
              <th>Send Email</th>
              <th>Ticket Link</th>
            </tr>
      </thead>
      <% @all_concerts.each do |artist| %>
      <tr>
          <td>
              <div class="text-center date-body">
                  <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                  <div class="date-content">
                      <p class="dia"><%= artist.day_number %></p>
                      <hr class="nomargin"/>
                      <p class="nomargin">
                          <strong><%= artist.month %></strong>
                      </p>
                      <p class="nomargin">
                          <strong><%= artist.time%></strong>
                      </p>
                  </div>
              </div>
          </td>
          <td><%= artist.name %></td>
          <td><%= artist.format_venue %></td>
          <td><%= artist.city %></td>
          <td><A HREF="#codeword"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></A></span> </td>
          <td class="text-center">
              <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                  <span class="glyphicon glyphicon-edit"></span>
                  Ticket Link</a>
          </td>
          <td> <%= image_tag(artist.image, size: '85x85') %> </td>
      </tr>
      <% end %>
  </table>
</div>

<% end %>
<br>
<hr>
<center>
  <A NAME="codeword"></a>
    <form accept-charset="UTF-8" action="/sent" class="new_user" id="new_user" method="get">
        <h3 style="margin-bottom: 25px; text-align: center;">Send You and Your Friends a Reminder</h3>

        <div class="form-group">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Message" maxlength="140" rows="7" required></textarea>
        </div>
        <input class="btn btn-default" name="commit" type="submit" value="Send Email">
    </form>
</center>
<br>
<br>

<h3 style="margin-bottom: 25px; text-align: center;">Concert locations</h3>
    <center><div id="map"  style="height:400px; width:1200px;"></div><center>
      <br>
    <script type="text/javascript">

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 37.0902, lng: -95.7129}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        {lat: -31.563910, lng: 147.154312},
        {lat: -33.718234, lng: 150.363181},
        {lat: -33.727111, lng: 150.371124},
        {lat: -33.848588, lng: 151.209834},
        {lat: -33.851702, lng: 151.216968},
        {lat: -34.671264, lng: 150.863657},
        {lat: -35.304724, lng: 148.662905},
        {lat: -36.817685, lng: 175.699196},
        {lat: -36.828611, lng: 175.790222},
        {lat: -37.750000, lng: 145.116667},
        {lat: -37.759859, lng: 145.128708},
        {lat: -37.765015, lng: 145.133858},
        {lat: -37.770104, lng: 145.143299},
        {lat: -37.773700, lng: 145.145187},
        {lat: -37.774785, lng: 145.137978},
        {lat: -37.819616, lng: 144.968119},
        {lat: -38.330766, lng: 144.695692},
        {lat: -39.927193, lng: 175.053218},
        {lat: -41.330162, lng: 174.865694},
        {lat: -42.734358, lng: 147.439506},
        {lat: -42.734358, lng: 147.501315},
        {lat: -42.735258, lng: 147.438000},
        {lat: -43.999792, lng: 170.463352}
      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
   </script>
   <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAf1noCsQpvvOCOccefy1-AfSyU2y0_JnU&callback=initMap">
    </script>
