<nav class="navbar navbar-default navbar-fixed-top" style="background-color: white">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand nav-logo" rel="home" href="#" title="Buy Sell Rent Everyting">
                <img style="max-width:35px; margin-top: -7px;" src="/assets/logo.png">
            </a>
            <ul class="nav navbar-nav">
                <li class="">
                    <a class="jam" href="/">Jam</a>
                </li>

            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                <li>
                    <p class="navbar-text">
                        <%=current_user.name %>
                    </p>
                </li>
                <li>
                    <p class="navbar-button">
                        <%= button_to "Logout", logout_path, method: :delete, class: "button1id", class: "btn btn-success btn-sm" %>
                    </p>
                </li>

            <% else %>
                <li>
                    <p class="navbar-text">
                        <%= link_to "Login with Spotify", spotify_login_path %>
                    </p>
                </li>
                <% end %>
            </div>
        </div>
    </nav>
    <% if @concerts == [] %>
          <div class="container-fluid">

                        <table class="table table-striped custab">
                            <thead>
                              <center><h2 class="featured"><span>Recommended Concerts</span></h2></center>
                              <br>
                                <tr>
                                    <th>Date</th>
                                    <th>Artist</th>
                                    <th>Venue</th>
                                    <th>City</th>
                                    <th>Ticket Link</th>
                                    <th></th>
                                  </tr>
                            </thead>
                            <% @concertrecommendation.each do |artist| %>
                            <tr>
                                <td>
                                    <div class="text-center date-body">
                                        <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                                        <div class="date-content">
                                            <p class="dia"><%= artist.day_number %></p>
                                            <hr class="nomargin"/>
                                            <p class="nomargin">
                                                <strong><%= artist.month %></strong>
                                            </p>
                                            <p class="nomargin">
                                                <strong><%= artist.time%></strong>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td><%= artist.name %></td>
                                <td><%= artist.format_venue %></td>
                                <td><%= artist.city %></td>
                                <td class="text-center">
                                    <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Ticket Link</a>
                                </td>
                                <td> <%= image_tag(artist.image, size: '85x85') %> </td>
                            </tr>
                            <% end %>
                        </table>
                      </div>

                      <div class="container-fluid">

                                    <table class="table table-striped custab">
                                        <thead>
                                          <center><h2 class="featured"><span>All <%= @artist.first.name %> Concerts</span></h2></center>
                                          <br>
                                            <tr>
                                                <th>Date</th>
                                                <th>Artist</th>
                                                <th>Venue</th>
                                                <th>City</th>
                                                <th>Ticket Link</th>
                                                <th></th>
                                              </tr>
                                        </thead>
                                        <% @all_concerts.each do |artist| %>
                                        <tr>
                                            <td>
                                                <div class="text-center date-body">
                                                    <label for="" class="date-title"><%= artist.day %>  <%= artist.year %></label>
                                                    <div class="date-content">
                                                        <p class="dia"><%= artist.day_number %></p>
                                                        <hr class="nomargin"/>
                                                        <p class="nomargin">
                                                            <strong><%= artist.month %></strong>
                                                        </p>
                                                        <p class="nomargin">
                                                            <strong><%= artist.time%></strong>
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><%= artist.name %></td>
                                            <td><%= artist.format_venue %></td>
                                            <td><%= artist.city %></td>
                                            <td class="text-center">
                                                <a class='btn btn-info btn-xs' href="<%= artist.ticket_link %>">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                    Ticket Link</a>
                                            </td>
                                            <td> <%= image_tag(artist.image, size: '85x85') %> </td>
                                        </tr>
                                        <% end %>
                                    </table>
                                  </div>

<% else %>
<% end %>
