<!DOCTYPE html>
<html>
  <head>
    <title>Jam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to image_tag("spotify-login.png", id:"login-button"), :spotify_login, id: "login-button", class: "login-button" %>

    <%= yield %>
  </body>
</html>
